---
import {t} from 'i18next';

import filmPassport from '../assets/images/film-passport/1.webp'
import bluebyteShop from '../assets/images/bluebyte-shop/1.webp'
import todoApp from '../assets/images/old-needs-organization/todoApp.webp'
import adviceApp from '../assets/images/advice-generator-app/min-logo.png'
import notewave from '../assets/images/notewave/1.png'

const projects = [
	{
		img: bluebyteShop,
		name: t("projects.data.bluebyte.title"),
		description: t("projects.data.bluebyte.description"),
		repository: t("projects.data.bluebyte.repository"),
		live: t("projects.data.bluebyte.live")
	},
	{
		img: notewave,
		name: t("projects.data.notewave.title"),
		description: t("projects.data.notewave.description"),
		repository: t("projects.data.notewave.repository"),
		live: t("projects.data.notewave.live")
	},
	{
		img: filmPassport,
		name: t("projects.data.filmpassport.title"),
		description: t("projects.data.filmpassport.description"),
		repository: t("projects.data.filmpassport.repository"),
		live: t("projects.data.filmpassport.live")
	},
	{
		img: todoApp,
		name: t("projects.data.todoapp.title"),
		description: t("projects.data.todoapp.description"),
		repository: t("projects.data.todoapp.repository"),
		live: t("projects.data.todoapp.live")
	},
	{
		img: adviceApp,
		name: t("projects.data.adviceMentor.title"),
		description: t("projects.data.adviceMentor.description"),
		repository: t("projects.data.adviceMentor.repository"),
		live: t("projects.data.adviceMentor.live")
	}]

---

<section class="px-4 mt-16 bg-[#ccf381] py-10" id="projects">
    <div class="container mx-auto">

		<h2 class="text-center text-4xl font-bold pb-10 text-[#4831d4] reveal">
			{t("projects.title")}
		</h2>

		<div class="text-[#4831d4]">
			{projects.map((project) => (
				<div class="flex flex-col items-center gap-6 mb-10 md:flex-row reveal">
					<img src={project.img} alt="Featured Projects" class="w-full border-2 border-[#4831d4] border-r-4 border-b-4 rounded-xl md:w-[650px]" />
					<div class="flex flex-col items-center">
						<h3 class="text-2xl font-bold mb-4">{project.name}</h3>
						<p class="text-lg">{project.description}</p>
						<div class="flex items-center gap-8 justify-center mt-6">
							<a href={project.repository} target="_blank" class="hover:translate-y-[-0.25rem] hover:text-rose-400 transition-all">
								<i class="fa-brands fa-github text-5xl"></i>
							</a>
							<a class="border-[#4831d4] flex items-center gap-4 border-2 border-b-4 border-r-4 py-4 px-10 rounded-xl active:border-b-2 active:border-r-2 font-bold transition-colors hover:bg-rose-400" href={project.live} target="_blank">
								Live
								<i class="fa-solid fa-up-right-from-square"></i>
							</a>
						</div>
					</div>
				</div>
			))}
		</div>
	</div>
</section>

<script>
    import scrollreveal from 'scrollreveal';

    scrollreveal().reveal(".reveal", {
        delay: 50,
        duration: 600,
        distance: '50px',
        origin: 'bottom',
        interval: 70
    })
</script>